# Environment variables / secrets
.env
*.env

# Python
.venv/
venv/
__pycache__/
*.pyc
*.pyo

# Java / Maven
target/
*.class

# Eclipse
.classpath
.project
.settings/

# VS Code
.vscode/

# IntelliJ
.idea/
*.iml

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Temporary files
*.tmp